name: CICD

on:
  push:
    branches: [main]
    tags:
      - '*'

env: 
  IMAGE_NAME: ${{github.repository}}

jobs:
  build:
    if: github.ref == 'refs/heads/main'
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to registry
        uses: docker/login-actions@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
        
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{env.IMAGE_NAME}}:${{github.sha}}

  deploy:
    if: startsWith(github.ref, 'refs/tags/')
    name: Deploy docker image
    runs-on: ubuntu-latest
    steps:
      - name: Log in to registry
        uses: docker/login-actions@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Pull, tag, deploy
        run: |
          docker pull ${{env.IMAGE_NAME}}:${{github.sha}} 
          docker tag ${{env.IMAGE_NAME}}:${{github.sha}} teachio:latest
          docker-compose -f docker-compose.prod.yml up -d
